<!-- Datatables Header -->
<div ng-controller="EditCategoryCtrl" ng-init="id_category ={$category_id};">
<div class="content-header">
		<div class="header-section">
			<h1>
				<i class="fa fa-pencil-square-o"></i>{$page_desc}
			</h1>
		</div>
	</div>
<!-- Form Components Row -->
<div class="row">
	<div class="col-md-9">
		<!-- Select Components Block -->
		<div class="block">
			<!-- Select Components Title -->
		   
			<!-- END Select Components Title -->

			<!-- Select Components Content -->
			 <form name="editCategoryForm"  class="form-bordered" novalidate>
			 
				<div class="form-group" ng-class="{literal}
				{'has-error': editCategoryForm.category_name.$error.required && !editCategoryForm.category_name.$pristine,
				 'has-success': editCategoryForm.category_name.$valid && !editCategoryForm.category_name.$pristine}
				{/literal}">
					<label for="title">Category Name(*)</label>   
					<input type="text" name="category_name" ng-model="dataForm.name" class="form-control" placeholder="Enter Category Name" required>
					<span class="help-block" ng-show="editCategoryForm.category_name.$error.required && !editCategoryForm.category_name.$pristine" class="error">Category Name is required.</span> 
				</div>
				
			  
			<!-- END Select Components Content -->
		</div>
		<!-- END Select Components Block -->
	</div>
	 <div class="col-md-3">
		<!-- Select Components Block -->
		<div class="block">
			<!-- Select Components Title -->
		   <div class="block-title">
				<h2><strong>Publish</strong> </h2>
			</div>
			<!-- END Select Components Title -->

			<!-- Select Components Content -->
			<div class="form-group">
					<label for="status">Status</label>
					<select name="publish" class="form-control" size="1" ng-model="dataForm.status">
						<option value="active">Active</option>
						<option value="not active">Not Active</option>
					</select>
				</div>
			<div class="form-group">
					<label for="type">Type</label>
					<select name="publish" class="form-control" size="1" ng-model="dataForm.type">
						<option value="post">Post</option>
					</select>
				</div>
			<div class="form-group">
					<label for="parent">Parent</label>
					<select name="parent" class="form-control" size="1" ng-model="dataForm.parent">
						<option value="0">No Parent</option>
						{foreach from=$parentlist key=myId item=i}
						<option value="{$i.value}">{$i.name}</option>
						{/foreach}
					</select>
				</div>
			
			<div class="form-group form-actions">
				<button type="submit" class="btn btn-sm btn-primary" ng-click="buttonUpdate(dataForm)" ng-disabled="editCategoryForm.$invalid"><i class="fa fa-refresh"></i> Update</button>
			</div>
		   
			<!-- END Select Components Content -->
		</div>
		<!-- END Select Components Block -->
	</div>

  
	 </form>
</div>
<!-- END Form Components Row -->
</div>
