<!-- Datatables Header -->
<div ng-controller="EditOrderCtrl" ng-init="id_order ={$order_id};">
    <div class="content-header">
        <div class="header-section">
          <h1>
            <i class="fa fa-pencil-square-o"></i>{$page_desc}
          </h1>
        </div>
      </div>
    <!-- Form Components Row -->
    <div class="row">
      <div class="col-md-9">
        <!-- Select Components Block -->
        <div class="block">
          <!-- Select Components Title -->
           
          <!-- END Select Components Title -->
    
          <!-- Select Components Content -->
           <form name="editOrderForm"  class="form-bordered" novalidate>
           
            <div class="form-group" ng-class="{literal}
            {'has-error': editOrderForm.table_number.$error.required && !editOrderForm.table_number.$pristine,
             'has-success': editOrderForm.table_number.$valid && !editOrderForm.table_number.$pristine}
            {/literal}">
              <label for="title">Table No (*)</label>   
              <input type="text" name="table_number" ng-model="dataForm.name" class="form-control" placeholder="Enter Table Number" required>
              <span class="help-block" ng-show="editOrderForm.table_number.$error.required && !editOrderForm.table_number.$pristine" class="error">Table Number is required.</span> 
            </div>
  
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                    <label for="menu_list">Menu List</label>
                    <select name="menuList" class="form-control" size="1" ng-model="dataMenu.menuList">
                      {foreach from=$activeMenu key=myId item=i}
                      <option value="{$i.name} || {$i.value} || {$i.price}">{$i.name}</option>
                      {/foreach} 
                    </select>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="form-group">
                      <label for="qty">Qty</label>
                      <input type="text" class="form-control" ng-model="dataMenu.qty">
                    </div>
                </div>
                <div class="col-md-4" style="padding-top:40px">
                    <button type="submit" class="btn btn-sm btn-primary" ng-click="buttonAddMenu(dataMenu)"><i class="fa fa-plus"></i> Add Menu</button>
                </div>
            </div>
            <hr/>
            <div ng-repeat="menu in activeMenu track by $index">
              <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="Item">Item</label>
                      <input type="text" class="form-control" ng-model="menu.name" ng-disabled="true">
                    </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                          <label for="Item-Qty">Item Qty</label>
                          <input type="text" class="form-control" ng-model="menu.qty">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                          <label for="Item-Qty">Action</label>
                          <div>
                          <button type="submit" class="btn btn-sm btn-danger" ng-click="buttonDeleteItem($index)">x</button>
                          </div>
                        </div>
                    </div>
              </div>
            </div>
            
            
            
          <!-- END Select Components Content -->
        </div>
        <!-- END Select Components Block -->
      </div>
       <div class="col-md-3">
        <!-- Select Components Block -->
        <div class="block">
          <!-- Select Components Title -->
           <div class="block-title">
            <h2><strong>Publish</strong> </h2>
          </div>
          <!-- END Select Components Title -->
    
          <!-- Select Components Content -->        
          
          <div class="form-group form-actions">
            <button type="submit" class="btn btn-sm btn-primary" ng-click="buttonUpdate(dataForm)" ng-disabled="editOrderForm.$invalid"><i class="fa fa-plus"></i> Update</button>
          </div>
           
          <!-- END Select Components Content -->
        </div>
        <!-- END Select Components Block -->
      </div>
    
      
       </form>
    </div>
    <!-- END Form Components Row -->
    </div>
    