
 <!-- Datatables Header -->
 <div ng-controller="ManageOrderCtrl">
  <div class="content-header">
      <div class="header-section">
          <h1>
              <i class="fa fa-table"></i>{$page_desc}
          </h1>
      </div>
  </div>
  <!--<ul class="breadcrumb breadcrumb-top">
      <li>Tables</li>
      <li><a href="">Datatables</a></li>
  </ul>-->
  <!-- END Datatables Header -->
  
  <!-- Datatables Content -->
  <div class="block full">
  <div align="right"  class="block-title">
  {if $smarty.session.admin_role_id == '3'}
  <div class="btn-group">
    <a href="{base_url('administrator/order/add')}" class="btn btn-success"><i class="fa fa-plus"></i> Add New</a>
   </div>
  {/if}
  </div>
      <div class="table-responsive">
         <table id="example-datatable" class="table table-vcenter table-condensed">
              <thead>
                  <tr>
                      <th class="text-center">Order #</th>
                      <th class="text-center">Date</th>
                      <th class="text-center">Table No</th>
                      <th class="text-center">Status</th>
                      <th class="text-center">Actions</th>
                  </tr>
              </thead>
              <tbody>
              {foreach from=$items key=myId item=i}
                  <tr>
                      <td class="text-center">{$i.trans_id}</td>
                      <td class="text-center">{$i.createdOn}</td>
                      <td class="text-center">{$i.table_no}</td>
                      <td class="text-center"><span class="label label-primary">{$i.status}</span></td>
                      <td class="text-center">
                          <div class="btn-group">
                              {if $i.status !== 'Paid'}
                              <a href="{base_url('administrator/order/edit')}/{$i.id}" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>
                              {/if}
                              {if $smarty.session.admin_role_id == '4'}
                              <a href="{base_url('administrator/order/payment')}/{$i.id}" title="Payment" class="btn btn-xs btn-default"><i class="fa fa-credit-card"></i></a> 
                              {/if}  
                      </div>
                      </td>
                  </tr>
               {/foreach}
              </tbody>
          </table>
      
      </div>
  </div>
  <!-- END Datatables Content -->
  </div>
  
                     