
  <!-- Invoice Block -->
  <div class="block full" ng-controller="PaymentOrderCtrl" ng-init="id_order ={$order_id};">
      <!-- Invoice Title -->
      <div class="block-title">
          <h2><strong>Invoice</strong> {literal} {{dataForm.trans_id}} {/literal}</h2>
      </div>
      <!-- END Invoice Title -->

      <!-- Invoice Content -->
      <!-- Table -->
      <div class="table-responsive">
          <table class="table table-vcenter">
              <thead>
                  <tr>
                      <th></th>
                      <th style="width: 60%;">Item</th>
                      <th class="text-center">Quantity</th>
                      <th class="text-center">Unit Price</th>
                      <th class="text-right">Amount</th>
                  </tr>
              </thead>
              <tbody>
                  <tr ng-repeat="menu in activeMenu track by $index">
                      <td class="text-center">{literal}  {{$index + 1}} {/literal}</td>
                      <td>
                          <h4>{literal}  {{menu.name}} {/literal}</h4>
                      </td>
                      <td class="text-center"><strong>x <span class="badge">
                        {literal}  {{menu.qty}} {/literal}
                      </span></strong></td>
                      <td class="text-center"><strong>Rp. {literal}  {{menu.price}} {/literal}</strong></td>
                      <td class="text-right"><span class="label label-primary">Rp {literal}  {{menu.price * menu.qty}} {/literal}</span></td>
                  </tr>
                  <tr class="active">
                      <td colspan="4" class="text-right"><span class="h4">SUBTOTAL</span></td>
                      <td class="text-right"><span class="h4">Rp.  {literal}  {{dataForm.subTotal}} {/literal}</span></td>
                  </tr>
                  <tr class="active">
                      <td colspan="4" class="text-right"><span class="h4">VAT RATE</span></td>
                      <td class="text-right"><span class="h4">10%</span></td>
                  </tr>
                  <tr class="active">
                      <td colspan="4" class="text-right"><span class="h4">VAT DUE</span></td>
                      <td class="text-right"><span class="h4">Rp.  {literal}  {{(dataForm.vatDue)}} {/literal}</span></td>
                  </tr>
                  <tr class="active">
                      <td colspan="4" class="text-right"><span class="h3"><strong>TOTAL DUE</strong></span></td>
                      <td class="text-right"><span class="h3"><strong>Rp.  {literal}  {{(dataForm.totalDue)}} {/literal}</strong></span></td>
                  </tr>
                  <tr class="active" ng-if="dataForm.status == 2">
                      <td colspan="4" class="text-right"><span class="h4">Cash</span></td>
                      <td class="text-right"><span class="h4">Rp. {literal}  {{(dataForm.payment_detail[0].cashPay)}} {/literal}</span></td>
                  </tr>
                  <tr class="active" ng-if="dataForm.status == 2">
                      <td colspan="4" class="text-right"><span class="h3"><strong>Change</strong></span></td>
                      <td class="text-right"><span class="h3"><strong>Rp. {literal}  {{(dataForm.payment_detail[0].cashPay - dataForm.totalDue )}} {/literal}</strong></span></td>
                  </tr>
              </tbody>
          </table>
      </div>
      <!-- END Table -->
      <div class="row" ng-if="dataForm.status != 2">
          <div class="col-md-4 pull-right">
              <div class="form-group" >
                  <label for="cash">Cash</label>
                  <input type="text" class="form-control" ng-model="dataForm.cashPay">
                </div>
          </div>
      </div>
      
      <div class="clearfix" ng-if="dataForm.status != 2">
          <div class="btn-group pull-right">
              <a href="javascript:void(0)" ng-click="buttonPay(dataForm)" class="btn btn-default"><i class="fa fa-money"></i> Pay</a>
          </div>
      </div>
      <!-- END Invoice Content -->
  </div>
  <!-- END Invoice Block -->