<!-- Datatables Header -->
<div ng-controller="AddCountryCtrl">
<div class="content-header">
		<div class="header-section">
			<h1>
				<i class="fa fa-pencil-square-o"></i>{$page_desc}
			</h1>
		</div>
	</div>
<!-- Form Components Row -->
<div class="row">
	<div class="col-md-9">
		<!-- Select Components Block -->
		<div class="block">
			<!-- Select Components Title -->
		   
			<!-- END Select Components Title -->

			<!-- Select Components Content -->
			 <form name="addCountryForm"  class="form-bordered" novalidate>
			 
				<div class="form-group" ng-class="{literal}
				{'has-error': addCountryForm.country_name.$error.required && !addCountryForm.country_name.$pristine,
				 'has-success':addCountryForm.country_name.$valid && !addCountryForm.country_name.$pristine}
				{/literal}">
					<label for="title">Country Name(*)</label>   
					<input type="text" name="country_name" ng-model="dataForm.name" class="form-control" placeholder="Enter Country Name" required>
					<span class="help-block" ng-show="addCountryForm.country_name.$error.required && !addCountryForm.country_name.$pristine" class="error">Country Name is required.</span> 
				</div>
				
			  
			<!-- END Select Components Content -->
		</div>
		<!-- END Select Components Block -->

	   
	</div>
	 <div class="col-md-3">
		<!-- Select Components Block -->
		<div class="block">
			<!-- Select Components Title -->
		   <div class="block-title">
				<h2><strong>Publish</strong> </h2>
			</div>
			<!-- END Select Components Title -->

			<!-- Select Components Content -->
			<div class="form-group">
					<label for="status">Status</label>
					<select name="publish" class="form-control" size="1" ng-model="dataForm.status">
						<option value="0">Active</option>
						<option value="1">Not Active</option>
					</select>
				</div>
				<div class="form-group form-actions">
					<button type="submit" class="btn btn-sm btn-primary" ng-click="buttonAdd(dataForm)" ng-disabled="addCountryForm.$invalid"><i class="fa fa-plus"></i> Create</button>
				</div>
		   
			<!-- END Select Components Content -->
		</div>
		<!-- END Select Components Block -->
	</div>

  
	 </form>
</div>
<!-- END Form Components Row -->
</div>