
 <!-- Datatables Header -->
<div ng-controller="ManageCountryCtrl">
<div class="content-header">
    <div class="header-section">
        <h1>
            <i class="fa fa-table"></i>{$page_desc}
        </h1>
    </div>
</div>
<!--<ul class="breadcrumb breadcrumb-top">
    <li>Tables</li>
    <li><a href="">Datatables</a></li>
</ul>-->
<!-- END Datatables Header -->

<!-- Datatables Content -->
 
<div class="block full">
<div align="right"  class="block-title">
<div class="btn-group">
                    <a href="{base_url('administrator/location/add_country')}" class="btn btn-success"><i class="fa fa-plus"></i> Add New</a>
 </div>
</div>
    <div class="table-responsive">
       <table id="example-datatable" class="table table-vcenter table-condensed">
            <thead>
                <tr>
                    <th class="text-center">Country Name</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
            {foreach from=$items key=myId item=i}
                <tr>
                    <td class="text-center">
                    <a href="{base_url('administrator/location/list_state')}/{$i.id_country}">{$i.country_name}</a>
                    </td>
                    <td class="text-center"><span class="label label-primary">{$i.status}</span></td>
                    <td class="text-center">
                        <div class="btn-group">
                        <a href="{base_url('administrator/location/edit_country')}/{$i.id_country}" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>
                        <a ng-click="deletePermanentAction({$i.id_country})" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>    
                    </div>
                    </td>
                </tr>
             {/foreach}
            </tbody>
        </table>
		
    </div>
</div>
<!-- END Datatables Content -->
</div>

                   