 <footer class="clearfix">
                    <div class="pull-right">
                        Developed by <a href="http://fame-mediatech.com" target="_blank">Fame Media Technologies</a>
                    </div>
                    <div class="pull-left">
                        <span> 2015 </span> &copy; <a href="http://fame-mediatech.com" target="_blank">FameCMS v.1.0</a>
                    </div>
                </footer>