 <header class="navbar navbar-default navbar-fixed-top">
    <!-- Left Header Navigation -->
    <ul class="nav navbar-nav-custom">
        <!-- Main Sidebar Toggle Button -->
        <li>
            <a href="javascript:void(0)" onclick="App.sidebar('toggle-sidebar');">
                <i class="fa fa-bars fa-fw"></i>
            </a>
        </li>
        <!-- END Main Sidebar Toggle Button -->
    </ul>
    <!-- END Left Header Navigation -->

    <!-- Search Form -->
    <form action="page_ready_search_results.html" method="post" class="navbar-form-custom" role="search">
        <div class="form-group">
            <input type="text" id="top-search" name="top-search" class="form-control" placeholder="Search..">
        </div>
    </form>
    <!-- END Search Form -->

    <!-- Right Header Navigation -->
    <ul class="nav navbar-nav-custom pull-right">
        <!-- User Dropdown -->
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
            <img style="-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;height:40px;width:40px;" src="{base_url()}{literal}{{dataadmin.display_picture ? dataadmin.display_picture:'public/img/unknown.png'}}{/literal}">
            <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-custom dropdown-menu-right">
                 <li>
                    <a href="{base_url()}" target="_blank"><i class="fa fa-globe pull-right"></i> View Web</a>
                    <a href="{base_url('administrator/setting/change_pass')}"><i class="fa fa-key pull-right"></i> Change Password</a>
                    <a href="{base_url('administrator/logout')}"><i class="fa fa-ban fa-fw pull-right"></i> Logout</a>
                </li>
                
            </ul>
        </li>
        <!-- END User Dropdown -->
    </ul>
    <!-- END Right Header Navigation -->
</header>
				