<div id="sidebar" ng-controller="sidebarCtrl">
	<!-- Wrapper for scrolling functionality -->
	<div class="sidebar-scroll">
		<!-- Sidebar Content -->
		<div class="sidebar-content">
			<!-- Brand -->
			<a href="{base_url()}" class="sidebar-brand">
				<strong>Fame</strong>CMS
			</a>
			<!-- END Brand -->

			<!-- User Info -->
			<div class="sidebar-section sidebar-user clearfix">
				<div class="sidebar-user-avatar">
					<a href="">
            		<img style="-webkit-border-radius: 32px;-moz-border-radius: 32px;border-radius: 32px;height:64px;width:64px;" src="{base_url()}{literal}{{dataadmin.display_picture ? dataadmin.display_picture:'public/img/unknown.png'}}{/literal}">
					</a>
				</div>
				<div class="sidebar-user-name">{literal}{{dataadmin.first_name}} {{dataadmin.last_name}}{/literal}</div>
				<div class="sidebar-user-links">
					<a href="{base_url('administrator/setting/profile')}" data-toggle="tooltip" data-placement="bottom" title="Profile"><i class="gi gi-user"></i></a>
					<!-- Opens the user settings modal that can be found at the bottom of each page (page_footer.html in PHP version) -->
					<a href="{base_url('administrator/setting/')}" data-toggle="tooltip" data-placement="bottom" title="Settings"><i class="gi gi-cogwheel"></i></a>
					<a href="{base_url('administrator/logout/')}" data-toggle="tooltip" data-placement="bottom" title="Logout"><i class="gi gi-exit"></i></a>
				</div>
			</div>
			<!-- END User Info -->
			<!-- Sidebar Navigation -->
			<ul class="sidebar-nav">
				<li class="sidebar-header">
					<span class="sidebar-header-title">Site</span>
				</li>
				<li {if checkUri('2') eq ''}class="active" {/if}>
					<a href="{base_url('administrator/')}"><i class="gi gi-home sidebar-nav-icon"></i>Dashboard</a>
				</li>
				<li class="sidebar-header">
					<span class="sidebar-header-title">Master</span>
				</li>
				<li {if checkUri('2') eq 'page'}class="active" {/if}>
					<a href="{base_url('administrator/menu/')}"><i class="gi gi-cutlery sidebar-nav-icon"></i>Food & Beverage</a>
				</li>
				<li class="sidebar-header">
					<span class="sidebar-header-title">Transaction</span>
				</li>
				<li {if checkUri('2') eq 'page'}class="active" {/if}>
					<a href="{base_url('administrator/order/')}"><i class="gi gi-cutlery sidebar-nav-icon"></i>Order</a>
				</li>
			</ul>
			<!-- END Sidebar Navigation -->

			
		</div>
		<!-- END Sidebar Content -->
	</div>
	<!-- END Wrapper for scrolling functionality -->
</div>