
<div ng-controller="ChangePassCtrl">
<div class="content-header">
                        <div class="header-section">
                            <h1>
                                <i class="fa fa-gear"></i>{$page_desc}
                            </h1>
                        </div>
 </div>
<!-- <ul class="breadcrumb breadcrumb-top">
    <li>Forms</li>
    <li><a href="">Components</a></li>
</ul>-->
<!-- END Components Header -->

<!-- Form Components Row -->
<div class="row">
    <div class="col-md-9">
        <!-- Select Components Block -->
        <div class="block">
            <!-- Select Components Content -->
             <form name="ChangePassForm" class="form-bordered" novalidate>
               <div class="form-group">
						<label for="Old-Password">Old Password</label>
						<input type="password" name="old_pass" class="form-control" ng-model="dataForm.old_pass" required>
                </div>
				<div class="form-group">
						<label for="new-password">New Password</label>
						<input type="text" name="new_password" class="form-control" ng-model="dataForm.new_pass" required>
                </div>
                
            <!-- END Select Components Content -->
        </div>
        <!-- END Select Components Block -->

       
    </div>
     <div class="col-md-3">
        <!-- Select Components Block -->
        <div class="block">
            <!-- Select Components Title -->
            <div class="block-title">
                <h2><strong>Manage</strong> </h2>
            </div>
            <!-- END Select Components Title -->

            <!-- Select Components Content -->
            <div class="form-group form-actions">
                    <button type="submit" ng-disabled="ChangePassForm.$invalid" ng-click="buttonUpdate(dataForm)" class="btn btn-sm btn-primary"><i class="fa fa-refresh"></i> Update</button>
            </div>
           
            <!-- END Select Components Content -->
        </div>
        <!-- END Select Components Block -->
       
    </div>

  
     </form>
</div>
<!-- END Form Components Row -->
</div>