<!-- Datatables Header -->
<div ng-controller="AddMenuCtrl">
  <div class="content-header">
      <div class="header-section">
        <h1>
          <i class="fa fa-pencil-square-o"></i>{$page_desc}
        </h1>
      </div>
    </div>
  <!-- Form Components Row -->
  <div class="row">
    <div class="col-md-9">
      <!-- Select Components Block -->
      <div class="block">
        <!-- Select Components Title -->
         
        <!-- END Select Components Title -->
  
        <!-- Select Components Content -->
         <form name="addMenuForm"  class="form-bordered" novalidate>
         
          <div class="form-group" ng-class="{literal}
          {'has-error': addMenuForm.menu_name.$error.required && !addMenuForm.menu_name.$pristine,
           'has-success': addMenuForm.menu_name.$valid && !addMenuForm.menu_name.$pristine}
          {/literal}">
            <label for="title">Menu Name(*)</label>   
            <input type="text" name="menu_name" ng-model="dataForm.name" class="form-control" placeholder="Enter Category Name" required>
            <span class="help-block" ng-show="addMenuForm.menu_name.$error.required && !addMenuForm.menu_name.$pristine" class="error">Category Name is required.</span> 
          </div>
          
          
        <!-- END Select Components Content -->
      </div>
      <!-- END Select Components Block -->
    </div>
     <div class="col-md-3">
      <!-- Select Components Block -->
      <div class="block">
        <!-- Select Components Title -->
         <div class="block-title">
          <h2><strong>Publish</strong> </h2>
        </div>
        <!-- END Select Components Title -->
  
        <!-- Select Components Content -->
        <div class="form-group">
            <label for="status">Status</label>
            <select name="status" class="form-control" size="1" ng-model="dataForm.status">
              <option value="1">Active</option>
              <option value="0">Not Active</option>
            </select>
          </div>
        <div class="form-group">
            <label for="type">Category</label>
            <select name="category" class="form-control" size="1" ng-model="dataForm.category">
              <option value="1">Food</option>
              <option value="2">Beverage</option>
            </select>
          </div>
        <div class="form-group">
          <label for="price">Price</label>
          <input type="text" name="price" ng-model="dataForm.price" class="form-control" placeholder="Enter Menu Price">
        </div>
        
        
        <div class="form-group form-actions">
          <button type="submit" class="btn btn-sm btn-primary" ng-click="buttonAdd(dataForm)" ng-disabled="addMenuForm.$invalid"><i class="fa fa-plus"></i> Create</button>
        </div>
         
        <!-- END Select Components Content -->
      </div>
      <!-- END Select Components Block -->
    </div>
  
    
     </form>
  </div>
  <!-- END Form Components Row -->
  </div>
  