<!-- Datatables Header -->
<div ng-controller="EditMenuCtrl" ng-init="id_menu ={$menu_id};">
  <div class="content-header">
      <div class="header-section">
        <h1>
          <i class="fa fa-pencil-square-o"></i>{$page_desc}
        </h1>
      </div>
    </div>
  <!-- Form Components Row -->
  <div class="row">
    <div class="col-md-9">
      <!-- Select Components Block -->
      <div class="block">
        <!-- Select Components Title -->
         
        <!-- END Select Components Title -->
  
        <!-- Select Components Content -->
         <form name="editMenuForm"  class="form-bordered" novalidate>
         
          <div class="form-group" ng-class="{literal}
          {'has-error': editMenuForm.menu_name.$error.required && !editMenuForm.menu_name.$pristine,
           'has-success': editMenuForm.menu_name.$valid && !editMenuForm.menu_name.$pristine}
          {/literal}">
            <label for="title">Menu Name(*)</label>   
            <input type="text" name="menu_name" ng-model="dataForm.name" class="form-control" placeholder="Enter Menu Name" required>
            <span class="help-block" ng-show="editMenuForm.menu_name.$error.required && !editMenuForm.menu_name.$pristine" class="error">Menu Name is required.</span> 
          </div>
          
          
        <!-- END Select Components Content -->
      </div>
      <!-- END Select Components Block -->
    </div>
     <div class="col-md-3">
      <!-- Select Components Block -->
      <div class="block">
        <!-- Select Components Title -->
         <div class="block-title">
          <h2><strong>Publish</strong> </h2>
        </div>
        <!-- END Select Components Title -->
  
        <!-- Select Components Content -->
        <div class="form-group">
          <label for="status">Status</label>
          <select name="status" class="form-control" size="1" ng-model="dataForm.status">
            <option value="1">Active</option>
            <option value="0">Not Active</option>
          </select>
        </div>
        <div class="form-group">
          <label for="type">Category</label>
          <select name="category" class="form-control" size="1" ng-model="dataForm.category">
            <option value="1">Food</option>
            <option value="2">Beverage</option>
          </select>
        </div>
        <div class="form-group">
          <label for="price">Price</label>
          <input type="text" name="price" ng-model="dataForm.price" class="form-control" placeholder="Enter Menu Price">
        </div>
        
        <div class="form-group form-actions">
          <button type="submit" class="btn btn-sm btn-primary" ng-click="buttonUpdate(dataForm)" ng-disabled="editMenuForm.$invalid"><i class="fa fa-refresh"></i> Update</button>
        </div>
         
        <!-- END Select Components Content -->
      </div>
      <!-- END Select Components Block -->
    </div>
  
    
     </form>
  </div>
  <!-- END Form Components Row -->
  </div>
  