
 <!-- Datatables Header -->
 <div ng-controller="ManageMenuCtrl">
  <div class="content-header">
      <div class="header-section">
          <h1>
              <i class="fa fa-table"></i>{$page_desc}
          </h1>
      </div>
  </div>
  <!--<ul class="breadcrumb breadcrumb-top">
      <li>Tables</li>
      <li><a href="">Datatables</a></li>
  </ul>-->
  <!-- END Datatables Header -->
  
  <!-- Datatables Content -->
  <div class="block full">
  <div align="right"  class="block-title">
  <div class="btn-group">
      <a href="{base_url('administrator/menu/add')}" class="btn btn-success"><i class="fa fa-plus"></i> Add New</a>
   </div>
  </div>
      <div class="table-responsive">
         <table id="example-datatable" class="table table-vcenter table-condensed">
              <thead>
                  <tr>
                      <th class="text-center">Menu Name</th>
                      <th class="text-center">Category</th>
                      <th class="text-center">Price</th>
                      <th class="text-center">Status</th>
                      <th class="text-center">Actions</th>
                  </tr>
              </thead>
              <tbody>
              {foreach from=$items key=myId item=i}
                  <tr>
                      <td class="text-center">{$i.name}</td>
                      <td class="text-center">{$i.category}</td>
                      <td class="text-center">{$i.price}</td>
                      <td class="text-center"><span class="label label-primary">{$i.status}</span></td>
                      <td class="text-center">
                          <div class="btn-group">
                          <a href="{base_url('administrator/menu/edit')}/{$i.menu_id}" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>
                          <a ng-click="deletePermanentAction({$i.menu_id})" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>    
                      </div>
                      </td>
                  </tr>
               {/foreach}
              </tbody>
          </table>
      
      </div>
  </div>
  <!-- END Datatables Content -->
  </div>
  
                     