
<div ng-controller="AddUserCtrl">
 <div class="content-header">
                        <div class="header-section">
                            <h1>
                                <i class="fa fa-gear"></i>{$page_desc}
                            </h1>
                        </div>
 </div>
<!-- <ul class="breadcrumb breadcrumb-top">
    <li>Forms</li>
    <li><a href="">Components</a></li>
</ul>-->
<!-- END Components Header -->

<!-- Form Components Row -->
<div class="row">
    <div class="col-md-9">
        <!-- Select Components Block -->
        <div class="block">
            <!-- Select Components Content -->
             <form name="addUserForm" class="form-horizontal form-bordered " novalidate>
                <div class="form-group">
					<div class="col-xs-6">
						<div class="input-group" ng-class="{literal}
						{'has-error': addUserForm.firstname.$invalid && !addUserForm.firstname.$pristine,
						 'has-success': addUserForm.firstname.$valid}
						{/literal}">
							<span class="input-group-addon"><i class="gi gi-user"></i></span>
							<input type="text" name="firstname" ng-model="dataForm.firstname" 
							class="form-control input-lg" placeholder="Firstname" required>
						</div>
						<span class="help-block" ng-show="addUserForm.firstname.$error.required && !addUserForm.firstname.$pristine">First Name cannot be blank</span>
					</div>
					<div class="col-xs-6">
						<input type="text" name="lastname" ng-model="dataForm.lastname" 
						 class="form-control input-lg" placeholder="Lastname">
					</div>
				</div>
				<div class="form-group">
					<div class="col-xs-12">
						<div class="input-group" ng-class="{literal}
							{'has-error': addUserForm.email.$invalid && !addUserForm.email.$pristine,
							 'has-success': addUserForm.email.$valid}
							{/literal}">
							<span class="input-group-addon"><i class="gi gi-envelope"></i></span>
							<input type="email"  name="email" ng-model="dataForm.email"
							class="form-control input-lg" placeholder="Email" required email-available>
							<small ng-if="addUserForm.email.$pending" class="error">Checking Email...</small>
						</div>
							<span class="help-block" 
								ng-show="addUserForm.email.$error.required && !addUserForm.email.$pristine">
								Email cannot be blank
							</span>
							<span class="help-block" 
								ng-show="addUserForm.email.$error.email && !addUserForm.email.$pristine">
								Enter a valid email address
							</span>
							<span class="help-block" 
								ng-show="addUserForm.email.$error.unique && !addUserForm.email.$pristine">
								Email already exist.Choose another one!!
							</span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-xs-12">
						<div class="input-group" ng-class="{literal}
							{'has-error': addUserForm.username.$invalid && !addUserForm.username.$pristine,
							 'has-success': addUserForm.username.$valid}
							{/literal}">
						<span class="input-group-addon">@</span>
							<input type="text"  name="username" ng-model="dataForm.username" 
							ng-minlength="5"
							ng-maxlength="10"
							class="form-control input-lg" placeholder="Username" username-available required>
						<small ng-if="addUserForm.username.$pending" class="error">Checking Username Availability...</small>
						</div>
						<span class="help-block" 
							ng-show="addUserForm.username.$error.required && !addUserForm.username.$pristine">
							Username cannot be blank
						</span>
						<span class="help-block"
							ng-show="addUserForm.username.$error.maxlength || addUserForm.username.$error.minlength 
							&& !addUserForm.username.$pristine">
							Username must be 5-10 chars
						</span>
						<span class="help-block" 
							ng-show="addUserForm.username.$error.unique && !addUserForm.username.$pristine">
							Username has been taken.Choose another one!!
						</span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-xs-12">
						<div class="input-group" ng-class="{literal}
							{'has-error': addUserForm.password.$invalid && !addUserForm.password.$pristine,
							 'has-success': addUserForm.password.$valid}
							{/literal}">
							<span class="input-group-addon"><i class="gi gi-asterisk"></i></span>
							<input type="password" name="password" ng-model="dataForm.password"
							ng-minlength="5"
							ng-maxlength="20"
							class="form-control input-lg" placeholder="Password" required>
						</div>
							<span class="help-block" 
							ng-show="addUserForm.password.$error.required && !addUserForm.password.$pristine">
							Password cannot be blank
							</span>
							<span class="help-block"
							ng-show="addUserForm.password.$error.maxlength || addUserForm.password.$error.minlength 
							&& !addUserForm.password.$pristine">
							Password must be 5-20 chars
							</span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-xs-12">
						<div class="input-group" ng-class="{literal}
							{'has-error': addUserForm.pass2.$invalid && !addUserForm.pass2.$pristine,
							 'has-success': addUserForm.pass2.$valid}
							{/literal}">
							<span class="input-group-addon"><i class="gi gi-asterisk"></i></span>
							<input type="password" name="pass2" ng-model="dataForm.pass2"
							password-match="dataForm.password"
							class="form-control input-lg" placeholder="Verify Password" required>
						</div>
							<span class="help-block"
								ng-show="addUserForm.pass2.$error.required
								&& !addUserForm.pass2.$pristine">
								Verify Password cannot be blank
							</span>
							<span class="help-block"
								ng-show="addUserForm.pass2.$error.unique
								&& !addUserForm.pass2.$pristine">
								Password is not match
							</span>
					</div>
				</div>
                
            <!-- END Select Components Content -->
        </div>
        <!-- END Select Components Block -->

       
    </div>
     <div class="col-md-3">
        <!-- Select Components Block -->
        <div class="block">
            <!-- Select Components Title -->
            <div class="block-title">
                <h2><strong>Manage</strong> </h2>
            </div>
            <!-- END Select Components Title -->

            <!-- Select Components Content -->
            <div class="form-group">
					<label for="role">Role</label>
					<select name="role" class="form-control" size="1" ng-model="dataForm.role" required>
						{foreach from=$rolelist key=myId item=i}
						<option value="{$i.value}">{$i.name}</option>
						{/foreach}
					</select>
				</div>
			<div class="form-group">
					<label for="status">Status</label>
					<select name="status" class="form-control" size="1" ng-model="dataForm.status">
						<option value="active">Active</option>
						<option value="not active">Not Active</option>
					</select>
			</div>
            <div class="form-group form-actions">
                    <button type="submit" ng-disabled="addUserForm.$invalid" ng-click="buttonAdd(dataForm)" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> Create</button>
            </div>
           
            <!-- END Select Components Content -->
        </div>
        <!-- END Select Components Block -->
       
    </div>

  
     </form>
</div>
<!-- END Form Components Row -->
</div>
{include file="menu/setting/editdp-modal.html"}